# NEXT_PUBLIC_SUPABASE_URL=https://yqymocnoymituodrxipc.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_7mHBtBf-glN-hOeYMLx5FA_ooy89bxF


NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key